# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.swiftpm/
.package-cache/
packages_cache/
.build/
Package.pins
Package.resolved

# Carthage
Carthage/Build/

# Accio
Dependencies/
.accio/

# Code Injection
iOSInjectionProject/

# IDE / Misc
.idea/
*.xcworkspace/xcuserdata
*.xcuserstate

# Tuist
.tuist-bin/
.tuist-version
Derived/
Tuist/.build/

# Tuist-generated Xcode projects and workspaces
*.xcodeproj
*.xcworkspace
graph.dot

# Xcode projects - only allow project files and shared schemes/caches
NodeCrypto/NodeCrypto.xcodeproj/xcuserdata/
NodeCrypto/NodeCrypto.xcodeproj/project.xcworkspace/xcuserdata/
NodeCrypto/NodeCrypto.xcodeproj/project.xcworkspace/state.xcuserstate
Backend/Backend.xcodeproj/xcuserdata/
Backend/Backend.xcodeproj/project.xcworkspace/xcuserdata/
Backend/Backend.xcodeproj/project.xcworkspace/state.xcuserstate
.claude
